.assortment{
    .container{
        padding: 90px 15px 150px;
    }
    &-title{
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 70px;
        text-transform: uppercase;
        color: #191B1F;
        margin-bottom: 60px;
        span{
            color: #4473C5;
        }
    }
    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}