.footer{
    position: relative;
    overflow-x: hidden;
    &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 10px;
        box-shadow: 0px 0px 100px 200px white;
        @include media (1400){
            display: none;
        }
    }
    &-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        @include media (1400){
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
        .toning{
            position: relative;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: .92;
        }
    }
    .container{
        position: relative;
        padding: 270px 150px 400px 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 120px;
        @include media (1400){
            padding: 100px 150px 100px 15px;
        }
        @include media (1200){
            justify-content: space-between;
            padding: 100px 150px 100px 15px;
            gap: 50px;
        }
        @include media (576){
            padding: 50px 15px;
        }
    }
    &__col{
        max-width: 33%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include media (1400){
            max-width: 28%;
        }
        @include media (1200){
            max-width: 40%;
        }
        @include media (992){
            max-width: 100%;
        }
        &-title{
            font-style: normal;
            font-weight: 700;
            font-size: 31px;
            line-height: 38px;
            color: #0D0E14;
        }
        &-text{
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #191B1F;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 13px;
            span{
                position: relative;
                top: 7px;
            }
        }
    }
    .scroll-top {
        position: absolute;
        top: 360px;
        right: 15px;
        @include media (1400){
            top: 160px;
        }
    }
}