mixin advantages()
    .advantages
        .container 
            h2.advantages-title Наши 
                span преимущества
            .advantages__items 
                .advantages__item
                    <svg width="128" height="139" viewBox="0 0 128 139" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_26_288)">
                            <path d="M4.11018 36.7986C3.21753 37.2765 2.66113 38.2012 2.66113 39.207V103.621C2.66113 104.627 3.21753 105.551 4.11019 106.029L34.3425 122.214L64.8493 138.546C65.668 138.983 66.6542 138.983 67.4729 138.546L128.212 106.029C129.105 105.551 129.661 104.627 129.661 103.621V39.207C129.661 38.2012 129.105 37.2765 128.212 36.7986L67.4729 4.28238M4.11018 36.7986L67.4729 4.28238L4.11018 36.7986ZM4.11018 36.7986L64.8493 4.28238C65.668 3.8441 66.6542 3.8441 67.4729 4.28238M4.11018 36.7986L68.7848 1.87402L67.4729 4.28238" fill="#FFBF01"/>
                            <path d="M4.11018 36.7986C3.21753 37.2765 2.66113 38.2012 2.66113 39.207V103.621C2.66113 104.627 3.21753 105.551 4.11019 106.029L34.3425 122.214L64.8493 138.546C65.668 138.983 66.6542 138.983 67.4729 138.546L128.212 106.029C129.105 105.551 129.661 104.627 129.661 103.621V39.207C129.661 38.2012 129.105 37.2765 128.212 36.7986L67.4729 4.28238M4.11018 36.7986L67.4729 4.28238M4.11018 36.7986L64.8493 4.28238C65.668 3.8441 66.6542 3.8441 67.4729 4.28238M4.11018 36.7986L68.7848 1.87402L67.4729 4.28238" stroke="#FFECB3" stroke-width="5.32346"/>
                            <path d="M93.8963 73.8941L88.2231 68.3905M88.2231 68.3905L82.5468 73.8941M88.2231 68.3905C88.2231 82.0685 77.6398 94.5327 63.5364 94.5327C49.433 94.5327 38 83.4444 38 69.7664C38 56.0883 49.433 45 63.5364 45C72.9052 45 81.0956 49.8931 85.539 57.1881M63.5364 56.0073V69.7664L72.0486 75.27" stroke="#FFECB3" stroke-width="5.11052" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_26_288">
                                <rect width="127.763" height="137.984" fill="white" transform="translate(0 0.508057)"/>
                            </clipPath>
                        </defs>
                    </svg> 
                    p.advantages__item-text Скорость
                .advantages__item
                    <svg width="129" height="139" viewBox="0 0 129 139" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_26_278)">
                            <path d="M5.08381 36.7983C4.19116 37.2763 3.63477 38.2009 3.63477 39.2068V103.621C3.63477 104.627 4.19116 105.551 5.08382 106.029L35.3162 122.214L65.8229 138.546C66.6416 138.983 67.6279 138.983 68.4466 138.546L129.186 106.029C130.078 105.551 130.635 104.627 130.635 103.621V39.2068C130.635 38.2009 130.078 37.2763 129.186 36.7983L68.4466 4.28214M5.08381 36.7983L68.4466 4.28214L5.08381 36.7983ZM5.08381 36.7983L65.8229 4.28214C66.6416 3.84386 67.6279 3.84386 68.4466 4.28214M5.08381 36.7983L69.7584 1.87378L68.4466 4.28214" fill="#FFBF01"/>
                            <path d="M5.08381 36.7983C4.19116 37.2763 3.63477 38.2009 3.63477 39.2068V103.621C3.63477 104.627 4.19116 105.551 5.08382 106.029L35.3162 122.214L65.8229 138.546C66.6416 138.983 67.6279 138.983 68.4466 138.546L129.186 106.029C130.078 105.551 130.635 104.627 130.635 103.621V39.2068C130.635 38.2009 130.078 37.2763 129.186 36.7983L68.4466 4.28214M5.08381 36.7983L68.4466 4.28214M5.08381 36.7983L65.8229 4.28214C66.6416 3.84386 67.6279 3.84386 68.4466 4.28214M5.08381 36.7983L69.7584 1.87378L68.4466 4.28214" stroke="#FFECB3" stroke-width="5.32346"/>
                            <path d="M63.4569 49.9966H64.6711C73.1875 49.9966 77.4458 49.9966 79.0623 51.5214C80.4595 52.8396 81.0788 54.7813 80.7015 56.6619C80.2651 58.8373 76.7886 61.2887 69.8355 66.1916L58.4758 74.2018C51.5229 79.1046 48.0463 81.556 47.61 83.7315C47.2327 85.6121 47.852 87.5538 49.2492 88.8718C50.8656 90.3968 55.1239 90.3968 63.6404 90.3968H66.2519M53.6751 49.9966C53.6751 54.6129 49.9213 58.3552 45.2907 58.3552C40.6601 58.3552 36.9062 54.6129 36.9062 49.9966C36.9062 45.3802 40.6601 41.6379 45.2907 41.6379C49.9213 41.6379 53.6751 45.3802 53.6751 49.9966ZM92.8026 89.0037C92.8026 93.62 89.0488 97.3623 84.4181 97.3623C79.7875 97.3623 76.0337 93.62 76.0337 89.0037C76.0337 84.3873 79.7875 80.645 84.4181 80.645C89.0488 80.645 92.8026 84.3873 92.8026 89.0037Z" stroke="#FFECB3" stroke-width="5.11052" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_26_278">
                                <rect width="127.763" height="137.984" fill="white" transform="translate(0.973633 0.508057)"/>
                            </clipPath>
                        </defs>
                    </svg>
                    p.advantages__item-text Возможность 
                        br 
                        | экспорта
                .advantages__item
                    <svg width="128" height="137" viewBox="0 0 128 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_26_318)">
                            <path d="M4.31836 35.0771C3.4629 35.5386 2.92969 36.4314 2.92969 37.4026V99.597C2.92969 100.568 3.4629 101.461 4.31837 101.922L33.291 117.549L62.5267 133.319C63.3113 133.741 64.2564 133.741 65.041 133.319L123.249 101.922C124.105 101.461 124.638 100.568 124.638 99.597V37.4026C124.638 36.4314 124.105 35.5386 123.249 35.0771L65.041 3.68133M4.31836 35.0771L65.041 3.68133L4.31836 35.0771ZM4.31836 35.0771L62.5267 3.68133C63.3113 3.25815 64.2564 3.25815 65.041 3.68133M4.31836 35.0771L66.2982 1.35596L65.041 3.68133" fill="#FFBF01"/>
                            <path d="M4.31836 35.0771C3.4629 35.5386 2.92969 36.4314 2.92969 37.4026V99.597C2.92969 100.568 3.4629 101.461 4.31837 101.922L33.291 117.549L62.5267 133.319C63.3113 133.741 64.2564 133.741 65.041 133.319L123.249 101.922C124.105 101.461 124.638 100.568 124.638 99.597V37.4026C124.638 36.4314 124.105 35.5386 123.249 35.0771L65.041 3.68133M4.31836 35.0771L65.041 3.68133M4.31836 35.0771L62.5267 3.68133C63.3113 3.25815 64.2564 3.25815 65.041 3.68133M4.31836 35.0771L66.2982 1.35596L65.041 3.68133" stroke="#FFECB3" stroke-width="5.32346"/>
                            <path d="M75.0312 60.8152L52.2158 47.5981" stroke="#FFECB3" stroke-width="5.11052" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M89.0961 79.5676V57.4322C89.0951 56.4618 88.8379 55.5087 88.3502 54.6686C87.8627 53.8283 87.1618 53.1307 86.318 52.6454L66.8711 41.5779C66.0264 41.0922 65.0682 40.8364 64.093 40.8364C63.1176 40.8364 62.1594 41.0922 61.3148 41.5779L41.868 52.6454C41.0241 53.1307 40.3233 53.8283 39.8356 54.6686C39.348 55.5087 39.0907 56.4618 39.0898 57.4322V79.5676C39.0907 80.538 39.348 81.4911 39.8356 82.3312C40.3233 83.1715 41.0241 83.8691 41.868 84.3543L61.3148 95.4219C62.1594 95.9076 63.1176 96.1634 64.093 96.1634C65.0682 96.1634 66.0264 95.9076 66.8711 95.4219L86.318 84.3543C87.1618 83.8691 87.8627 83.1715 88.3502 82.3312C88.8379 81.4911 89.0951 80.538 89.0961 79.5676Z" stroke="#FFECB3" stroke-width="5.11052" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M42.2158 56.2053L64.0936 68.5002L85.9713 56.2053" stroke="#FFECB3" stroke-width="5.11052" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M64.0938 96.1635V68.5" stroke="#FFECB3" stroke-width="5.11052" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_26_318">
                                <rect width="127" height="137" fill="white" transform="translate(0.28418)"/>
                            </clipPath>
                        </defs>
                    </svg>
                    p.advantages__item-text Доставка
                        br 
                        | из любой точки мира 

