mixin assortment()
    .assortment
        .container
            h2.assortment-title БОЛЬШОЙ АССОРТИМЕНТ 
                br
                span ТОВАРНО-МАТЕРИАЛЬНЫХ 
                | РЕСУРСОВ