mixin footer()
    .footer#footer 
        .footer-bg  
            img(src="@img/footer-bg.png" alt="" draggable="false")
            .toning
        .container
            .footer__col 
                h3.footer__col-title Навигация
                a(href="#").footer__col-text О компании
                a(href="#process").footer__col-text Процесс поставки
                a(href="#assortment").footer__col-text Ассоритимент
                a(href="#directions").footer__col-text Наши направления
                a(href="#partners").footer__col-text Наши заказчики
                a(href="#footer").footer__col-text Контакты
                a(href="#").footer__col-img
                    img(src="@img/logo.svg" alt="" draggable="false")
            .footer__col 
                h3.footer__col-title Основые направления
                a(href="#directions").footer__col-text Сырье и материалы
                a(href="#directions").footer__col-text Подшипники
                a(href="#directions").footer__col-text Оборудование
                a(href="#directions").footer__col-text Изделия из меди
                a(href="#directions").footer__col-text Химическая продукция   
                a(href="#directions").footer__col-text КИПиА
            .footer__col 
                h3.footer__col-title Контактные данные
                a(href="tel:+998950644939").footer__col-text 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.43871 5.35868C2.95874 12.1134 8.27623 17.4309 15.0309 18.9509C17.1862 19.4359 18.9997 17.599 18.9997 15.3899V13.6399C18.9997 13.0876 18.5511 12.6446 18.0009 12.5962C16.9115 12.5003 15.8666 12.2492 14.8885 11.865L13.1793 13.5742C10.3994 12.2439 8.14573 9.99019 6.8154 7.21026L8.52463 5.50107C8.14043 4.52302 7.8893 3.47812 7.79346 2.38866C7.74506 1.8385 7.30202 1.38989 6.74973 1.38989H4.99973C2.79059 1.38989 0.953714 3.20344 1.43871 5.35868Z" stroke="#191B1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    p +998 (95) 064-49-39
                        br
                        span Для сотрудничества
                a(href="mailto:info@mgstreaming.uz").footer__col-text 
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 7.38989C3 6.28532 3.89543 5.38989 5 5.38989H19C20.1046 5.38989 21 6.28532 21 7.38989V17.3899C21 18.4945 20.1046 19.3899 19 19.3899H5C3.89543 19.3899 3 18.4945 3 17.3899V7.38989Z" stroke="#191B1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M21 7.38989L12 13.3899L3 7.38989" stroke="#191B1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    p info@mgstreaming.uz
                a(href="https://goo.gl/maps/XKE14zq33YhwjiJ1A").footer__col-text 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5208 21.9902L6.09024 16.6479C3.09101 13.6973 3.09101 8.91364 6.09025 5.96313C9.08947 3.01262 13.9522 3.01262 16.9514 5.96313C19.9507 8.91364 19.9507 13.6973 16.9514 16.6479L11.5208 21.9902Z" stroke="#191B1F" stroke-width="1.44" stroke-linejoin="round"/>
                        <path d="M11.5214 13.3498C10.461 13.3498 9.60141 12.4902 9.60141 11.4298C9.60141 10.3694 10.461 9.50977 11.5214 9.50977C12.5818 9.50977 13.4414 10.3694 13.4414 11.4298C13.4414 12.4902 12.5818 13.3498 11.5214 13.3498Z" fill="#191B1F"/>
                    </svg>
                    p Офис в Ташкенте
                        br
                        span г. Ташкент, Яккасарайский р-н., ул. Бобура, дом 67
            a(href="#").scroll-top 
                <svg width="80" height="88" viewBox="0 0 80 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 24.9563C1 23.4975 1.79413 22.1544 3.07232 21.4514L38.0723 2.20143C39.2727 1.54125 40.7273 1.54125 41.9277 2.20143L76.9277 21.4514C78.2059 22.1544 79 23.4975 79 24.9563V63.0435C79 64.5023 78.2059 65.8454 76.9277 66.5484L41.9277 85.7984C40.7273 86.4586 39.2727 86.4586 38.0723 85.7984L20.4819 76.1237L3.07233 66.5484C1.79413 65.8454 1 64.5023 1 63.0435V24.9563Z" stroke="#191B1F" stroke-width="2"/>
                    <path d="M51.6673 43.9997L40.0007 32.333M40.0007 32.333L28.334 43.9997M40.0007 32.333V55.6663" stroke="#191B1F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>