mixin header()
    .header
        .container
            .header__logo
                img(src="@img/logo.svg", alt="" draggable="false")
            .header__nav
                a(href="#").header__nav-btn О компании
                a(href="#").header__nav-btn Новости
                a(href="#").header__nav-btn Вакансии
                a(href="#").header__nav-btn Контакты
            //- .header__lang
            //-     a(href="#").header__lang-btn Eng
            //-     a(href="#").header__lang-btn.active Рус
