mixin header()
    .header
        .container
            .header__logo
                img(src="@img/logo.svg", alt="" draggable="false")
            .header__nav
                a(href="#").header__nav-btn О компании
                a(href="#process").header__nav-btn Процесс поставки
                a(href="#assortment").header__nav-btn Ассоритимент
                a(href="#directions").header__nav-btn Наши направления
                a(href="#partners").header__nav-btn Наши заказчики
                a(href="#footer").header__nav-btn Контакты
            //- .header__lang
            //-     a(href="#").header__lang-btn Eng
            //-     a(href="#").header__lang-btn.active Рус
