mixin intro()
    .intro 
        .intro-bg 
            img(src="@img/intro-bg.png" alt="" draggable="false")
            .toning
        .container
            h1.intro-title НАДЕЖНЫЙ ПАРТНЕР В ПОСТАВКАХ ТМЦ ДЛЯ ПРОМЫШЛЕННОГО СЕКТОРА
            p.intro-text Компания Modern Gas Streaming занимается поставкой материально-технических ресурсов, благодаря тесному взаимодействию с Заказчиками заслужили репутацию надежного партнера в комплектации потребностей и поставках.Наша миссия: мы стремимся решить проблемы Заказчика, предоставляем комплексные своевременные услуги.MGS всегда уделяет особое внимание процессам, имеет минимальные пределы допуска в вопросах обеспечения качества и соблюдении корпоративной этики.
            a(href="@img/intro-bg.png", download).intro-btn 
                img(src="@img/download-file.svg" alt="" draggable="false")
                p Скачать каталог <br> компании