mixin partners()
    .partners
        .container
            .partners__top 
                h2.partners-title Нам 
                    span доверяют
                    br 
                    | крупнейшие 
                    br
                    span компании республики
                p.partners-text Нас рекомендуют крупнейшие компании Узбекистана за ту степень ответственности, которую мы всегда показываем на всех этапах поставок, начиная от первоначальных переговоров заканчивая подготовкой документов и закрытием сделок.
            .partners__boxes
                .partners__box 
                    .partners__box-img
                        img(src="@img/partners/1.png", alt="" draggable="false")
                    h4.partners__box-title АО "Навоийский ГМК"
                .partners__box 
                    .partners__box-img
                        img(src="@img/partners/2.png", alt="" draggable="false")
                    h4.partners__box-title АО "Узбекнефтегаз"
                .partners__box 
                    .partners__box-img
                        img(src="@img/partners/3.png", alt="" draggable="false")
                    h4.partners__box-title АО "Алмалыкский ГМК"

